{% extends "Client/base-dashboard.html" %}
{% block content %}
{% load static %}

       
<div class="row">
  <div class="col-md-12">
    <div class="card card-round">
      <div class="card-header" style="background-color: #65131a;">
        <div class="card-head-row card-tools-still-right">
          <div class="card-title" style="color: #fff;"><i class="fas fa-exclamation"></i> Instruction</div>
        
        </div>
      </div>
      <div class="card-body">
        <div class="row">
         <div class="col-md-12 mt-3 mb-4">
          <div class="container-progress">
            <ul class="progressbar">
              <li class="active">Step 1</li>
              <li>Step 2</li>
              <li>Step 3</li>
            </ul>
          </div>
         </div>
          <div class="col-md-12 mt-3 mb-4">
            <p>Following Abstract Submission: After submitting your abstract, all authors are required to register for the conference and pay the associated fee in a timely manner. Failure to register will disqualify your submission from the call for papers and prevent publication.</p>
          </div>
          <div class="col-md-12 mt-3 mb-4">
            <p>Please create new Abstract for begin to submit new abstract.</p>
          </div>
          <div class="col-md-12 mt-3 mb-4">
            <p><span style="font-weight: bold;">DEADLINE</span> Abstract Submission Due: <span style="font-weight: bold; color: red;"> August 31, 2023</span></p>
          </div>
        </div>
       
      </div>
    </div>
    </div>
  </div>
{% endblock content%}