{% extends "Client/base-dashboard.html" %}
{% block content %}
{% load static %}

       
<div class="row">
  <div class="col-md-12">
    <div class="card card-round">
      <div class="card-header" style="background-color: #65131a;">
        <div class="card-head-row card-tools-still-right">
          <div class="card-title" style="color: #fff;"><i class="fas fa-exclamation"></i> Instruction</div>
        
        </div>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row ms-progressbar" style="border-bottom:0;">
        
            <div class="col-4 ms-progressbar-step complete">
              <div class="text-center ms-progressbar-step-number">Instruction</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a href="#" class="ms-progressbar-dot"></a>
              
            </div>
        
            <div class="col-4 ms-progressbar-step disable">
              <!-- complete -->
              <div class="text-center ms-progressbar-step-number">Create Abstract</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a href="#" class="ms-progressbar-dot"></a>
              
            </div>
        
            <div class="col-4 ms-progressbar-step disable">
              <!-- complete -->
              <div class="text-center ms-progressbar-step-number">Abstract Review</div>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
              <a href="#" class="ms-progressbar-dot"></a>
             
            </div>
        
         
          </div>    
        </div>
        <div class="row">

         </div>
          <div class="col-md-12 mt-3 mb-4">
            <p>Following Abstract Submission: After submitting your abstract, all authors are required to register for the conference and pay the associated fee in a timely manner. Failure to register will disqualify your submission from the call for papers and prevent publication.</p>
          </div>
          <div class="col-md-12 mt-3 mb-4">
            <p>Please create new Abstract for begin to submit new abstract.</p>
          </div>
          <div class="col-md-12 mt-3 mb-4">
            <p><span style="font-weight: bold;">Abstract Submission Deadline: </span> <span style="font-weight: bold; color: red;">  From August 1, 2024, to December 1, 2024.</span></p>
          </div>
        </div>
       
      </div>
    </div>
    </div>
  </div>
{% endblock content%}