{% extends "Client/base-dashboard.html" %}
{% block content %}
{% load static %}

       
<div class="row">
  <div class="col-md-12">
    <div class="card card-round">
      <div class="card-header" style="background-color: #65131a;">
        <div class="card-head-row card-tools-still-right">
          <div class="card-title" style="color: #fff;"><i class="fas fa-exclamation"></i> Instruction</div>
        
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mt-3 mb-4">
            <ul>
              <li> To begin a new abstract, choose "Create a New Submission" in the sidebar on the left-hand side of the page</li>
              <li> To view abstracts that ar in progress or already submitted, choose "View Submissions"</li>
             </ul>
          </div>
          <div class="col-md-12 mt-3 mb-4">
            <p>To ensure that your data are enterd correctly, please follw all directions carefully. We recommened that you process through the system in a step-by-step fashion, carefully completing each screen in turn</p>
           
          </div>
          <div class="col-md-12 mt-3 mb-4">
            <p><span style="font-weight: bold;">DEADLINE</span> Abstract Submission Due: <span style="font-weight: bold; color: red;"> August 31, 2023</span></p>
          </div>
        </div>
       
      </div>
    </div>
    </div>
</div>
{% endblock content%}