{% extends "Client/base-dashboard.html" %}
{% block content %}
{% load static %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-round">
      <div class="card-header" style="background-color: #65131a;">
        <div class="card-head-row card-tools-still-right">
          <div class="card-title" style="color: #fff;"><i class="fas fa-tasks"></i>Submission Progress</div>

        </div>
      </div>
      <div class="card-body p-0">
     
        <div class="table-responsive  p-2">
          <!-- Projects table -->
          <table class="table table-striped"  id="T1">
            <thead>
              <tr>
                <th style="background-color: #65131a; color: #fff; font-weight: 700;" scope="col">Submission ID</th>
                <th style="background-color: #65131a; color: #fff; font-weight: 700;" scope="col">Title</th>
                <th style="background-color: #65131a; color: #fff; font-weight: 700;" scope="col">Date / Time Submitted</th>
                <!-- <th style="background-color: #65131a; color: #fff; font-weight: 700;" scope="col">Name</th> -->
                <th style="background-color: #65131a; color: #fff; font-weight: 700;" scope="col">Status</th>
                <!-- <th style="background-color: #65131a; color: #fff; font-weight: 700;" scope="col">Result</th> -->
              </tr>
            </thead>
            <tbody>
              {% for i in data %}
              <tr>
                <td>{{ i.Submission_Code }}</td> <!-- Adjust to match your ID field -->
                <td> {{i.Submition_title}}</td> <!-- Example title field -->
                <td>{{ i.created_at }}</td> <!-- Adjust to match your date field -->
                <!-- <td>{{ i.Submition_title }}</td> -->
                <td class="text-center">
                  <!-- status -->
                  {% if i.status_review == True %}
                  <span class="badge badge-warning">Submited</span>
                  {% elif i.status_review == False %}
                  <span class="badge badge-info">Under Review</span>
                  {% elif i.status_review == False %}
                  <span class="badge badge-primary">Tentatively accepted</span>
                  {% elif i.status_review == False %}
                  <span class="badge badge-success">Revision requested</span>
                  {% elif i.status_review == None %}
                  <span class="badge badge-danger">Rejected</span>
                  {% endif %}

                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    
  </div>

</div>
<script>
  $(document).ready(function () {
    $('#T1').DataTable({
        "order": [[2, "desc"]] // This will order by the third column (index 2) in ascending order
    });
  });
</script>

{% endblock content%}