{% extends "Client/base-dashboard.html" %}
{% block content %}
{% load static %}
<div
class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
>

</div>
<div class="row">
  <div class="col-md-12">
    <div class="card card-round">
      <div class="card-header" style="background-color: #65131a;">
        <div class="card-head-row card-tools-still-right">
          <div class="card-title" style="color: #fff;"> ICPT 2025 Abstract Guidelines</div>
        
        </div>
      </div>
      <div class="card-body p-0">
        <div class="card-body">
          <div class="row">
              <div class="col-md-12 mb-2">
                  <p style="font-weight: 700; color: #5f141a;">Content</p>
                  <ul>
                      <li><span style="font-weight: 700;">Language:</span> English</li>
                      <li><span style="font-weight: 700;">Length:</span> 150 no more than 250 words</li>
                      <li><span style="font-weight: 700;">Visuals:</span> May include ONE photograph, graph, or diagram (no tables)</li>
                      <li><span style="font-weight: 700;">Structure:</span>
                          <ul>
                              <li>State the purpose of your research</li>
                              <li>Highlight the main findings</li>
                              <li>Summarize key conclusions</li>
                              <li>Include up to 5 keywords</li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <div class="col-md-12 mb-2">
                  <p style="font-weight: 700; color: #5f141a;">Submission</p>
                  <ul>
                      <li><span style="font-weight: 700;">Template:</span> Download the provided template (<a href="/static/document/Abstract_template.docx">ICPT2025 Template.</a>)</li>
                      <li><span style="font-weight: 700;">EasyChair Submission: </span>
                          <ul>
                              <li>Log in or create an EasyChair account (<a href="https://easychair.org/account2/signin" target="_blank">EasyChair Login.</a>)</li>
                              <li>Fill in author details, title, abstract, and keywords</li>
                              <li>Upload your abstract file (Only doc.x, PDF)</li>
                              <li>Review and submit</li>
                              <li style="color: #5f141a; font-weight: 700;">You may walk through the steps on EasyChair by following the link :  <a href="https://app.tango.us/app/workflow/Guide-to-Register-and-Submit-Abstract-for-ICPT2025-6b345748962d4fb0be5e9313f7f73e42" target="_blank">EasyChair Guidelines.</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <div class="col-md-12 mb-2">
                  <p style="font-weight: 700; color: #5f141a;">Post-Submission</p>
                  <ul>
                      <li>Track your submission status through your conference account (<a href="/ViewSubmission">Submission Progress.</a>)</li>
                      
                  </ul>
              </div>
              <div class="col-md-12 mb-2">
                  <p style="font-weight: 700; color: #5f141a;">Timeline</p>
                  <ul>
                      <li>Please note that specific deadlines are not provided in the reference text, so this timeline offers a general sequence of events</li>
                      <li><ul>
                          <li><span style="font-weight: 700;">Abstract Submission Opens:</span> 1 August 2024</li>
                          <li><span style="font-weight: 700;">Abstract Submission Deadline:</span> 1 December 2024</li>
                          <li><span style="font-weight: 700;">Notification of Acceptance:</span> 15 December 2024</li>
                          <li><span style="font-weight: 700;">Early Registration Deadline:</span> <span style="color: red;">TBA</span></li>
                          <li><span style="font-weight: 700;">Conference Dates:</span> 16 – 18 July 2025</li>
                      </ul></li>
                  </ul>
              </div>
        
              </div>
      </div>
        <!-- <div class="table-responsive">
        
          <table class="table align-items-center mb-0">
            <tbody>
              <tr>
                <th scope="row">
                  <button
                    class="btn btn-icon btn-round btn-success btn-sm me-2"
                  >
                    <i class="fa fa-check"></i>
                  </button>
                  Abstract Submission
                </th>
                <td class="text-end">1 August 2024 to 1 December 2024</td>
              </tr>
              <tr>
                <th scope="row">
                  <button
                    class="btn btn-icon btn-round btn-success btn-sm me-2"
                  >
                    <i class="fa fa-check"></i>
                  </button>
                  Acceptance of abstracts
                </th>
                <td class="text-end">By 15 December 2024</td>
              </tr>
              <tr>
                <th scope="row">
                  <button
                    class="btn btn-icon btn-round btn-success btn-sm me-2"
                  >
                    <i class="fa fa-check"></i>
                  </button>
                  Paper submission
                </th>
                <td class="text-end">6 December 2024 By 28 February 2025</td>
              </tr>
              <tr>
                <th scope="row">
                  <button
                    class="btn btn-icon btn-round btn-success btn-sm me-2"
                  >
                    <i class="fa fa-check"></i>
                  </button>
                  Acceptance of papers
                </th>
                <td class="text-end">By 30 April 2025</td>
              </tr>
       
            </tbody>
          </table>
        </div> -->
      </div>
    </div>
    </div>
  </div>
{% endblock content%}