{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ICPT2025 - 14TH INTERNATIONAL CONFERENCE ON ROAD AND AIRFIELD PAVEMENT TECHNOLOGY 2025</title>
    <meta name="description" content="ICPT2025 - 14TH INTERNATIONAL CONFERENCE ON ROAD AND AIRFIELD PAVEMENT TECHNOLOGY 2025"/>
    <meta name="keywords" content="ICPT, ICPT2025, Pavement conference, Civil engineering international, conference, Road international conference"/>
    <meta name="robots" content="ICPT, ICPT2025, Pavement conference, Civil engineering international, conference, Road international conference">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Loading Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        
    <!-- Loading Font Icons -->
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    
    <!-- Include all css plugins (below), or include individual files as needed -->
    <link href="{% static 'assets/css/flickity.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
    
    <!-- Main CSS -->
    <link href="{% static 'assets/css/dione_main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/dione_style.css' %}" rel="stylesheet" type="text/css">
    
    <!-- Color Skins CSS -->
    <link href="{% static 'assets/css/dione_color_icpt.css' %}" rel="stylesheet" type="text/css">
    <style>
        .bg-fimage{
            background-image: url("{% static 'assets/images/bg-engineer.png' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
        
    </style>
    
    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 8]>

    <![endif]-->
      <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-NFR3L7TV');</script>
<!-- End Google Tag Manager -->
    </head>
<body id="page-top">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NFR3L7TV" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    
    
    <!-- Navigation Start -->
    <nav id="navigation" class="navbar navbar-fixed-top navbar-white">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-md-3">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-dione">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand page-scroll font-family-alt letter-spacing-1 text-extra-large text-uppercase" href="/">
                        <img src="{% static 'assets/images/Logo/ICPT2025top.svg' %}" alt=""/>
                        <!-- <h5 class="brand-icons" style=" font-weight: 800; font-style: italic; color: #fff;">ICPT 2025  </h5> -->
                    </a>
                </div>
            
                
                <div id="navbar-dione" class="navbar-collapse collapse col-md-9 pull-right">
                    <ul class="nav navbar-nav font-family-alt letter-spacing-1 text-small text-uppercase">
                        <li><a href="#contact" class="page-scroll">Contact</a></li>
                        <li><a href="/guideline" target="_blank" class="page-scroll">Register</a> <span style="color: #fff;">/</span> <a href="/signin" target="_blank" class="page-scroll">Login</a></li>


                    </ul>
                </div>
          
            </div>
  
        </div>
  
    </nav>

    
    
    
  <!-- Section - Home Start -->
  <section id="home-bg-parallax" class="height-100 no-padding overflow-hidden width-100">
    <!-- BG Parallax -->
    <div class="bg-parallax bg-overlay-black-4 width-auto"></div>
    
    <div class="display-table height-100 position-absolute position-top position-left width-100">
        <div class="display-table-cell vertical-align-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <img class="center-logo" src="{% static 'assets/images/Logo/icptnewLogo.svg' %}" alt=""/>
                        <!-- <h2 class="display-block font-family-alt font-weight-700 letter-spacing-2 text-uppercase text-white xs-title-extra-large sm-title-extra-large-3 title-extra-large-5">
                            The Annual<br>
                            Conference!
                        </h2> -->

                        <p class="font-family-alt letter-spacing-1 margin-3 no-margin-bottom no-margin-rl text-gray-light-2 xs-text-large text-extra-large text-uppercase" style="font-weight: 600;">
                            14th International Conference on Road
                            <br>and Airfield Pavement Technology 2025
                            <br><span style="color: #eaaf51; font-weight: 700;">16 - 18 July 2025</span>
                            <br><span style="color: #eaaf51; font-weight: 700;">Chiang Mai Merriott Hotel</span>
                        </p>
                        <!-- <a href="#intro" class="page-scroll btn btn-base-color sm-btn-medium btn-large margin-4-5 no-margin-bottom no-margin-rl">16th to 18th July 2025 CHIANG MAI, Thailand</a> -->
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</section>
<!-- //Section - Home End -->


 <!-- Section - Hotels Start -->
 <section id="accommodation" class="bg-fimage">
    <div class="container">
        <div class="row no-padding-rl no-padding-top padding-8">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3
                    class="font-family-alt font-weight-700 letter-spacing-2 text-uppercase xs-title-small title-medium title-sideline-base-color">
                    Accommodation</h3>
                <p class="font-family-alt margin-3 no-margin-bottom no-margin-rl text-gray-dark-2 text-large">A
                    variety of hotels are situated within walking distance of the event venue.<br>Here are a few you
                    might be interested in!</p>
            </div>

        </div>

        <div class="row" style="margin-bottom: 3rem;">
            <!-- Features Box Style v3 Start -->
            <div class="features-box col-sm-12 col-md-12">
                <div class="border border-gray-light border-round box-shadow-yes position-relative"
                    data-mh="mh-features-box-v3">
                    <div class="display-table height-100 no-padding-rl padding-7 width-100">
                        <span
                            class="bg-base-color border-round display-block font-family-alt letter-spacing-1 margin-4 padding-tb-9px padding-rl-13px position-absolute position-top position-right text-extra-small text-uppercase text-white"><span
                                style="color: #FED800; font-weight: 600;"> <i class="fa fa-star"
                                    aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                    class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                    aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
                            Hotel</span>

                        <div class="display-table-cell no-padding-tb padding-8 vertical-align-middle">
                            <a href="https://www.marriott.com/en-us/hotels/cnxmc-chiang-mai-marriott-hotel/overview/"
                                target="_blank" class="text-black"><span
                                    class="display-block font-family-alt font-weight-700 letter-spacing-1 text-large text-uppercase">Chiang
                                    Mai Marriott Hotel</span></a>
                            <span
                                class="bg-base-color display-inline-block margin-3 no-margin-bottom no-margin-rl separator-line-thick"></span>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="{% static 'assets/images/mariothotel.jpg' %}"
                                                alt="ICPT2025" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-5 pb-3">
                                                    <span
                                                        class="display-block font-family-alt font-weight-700 letter-spacing-1 margin-5 no-margin-bottom no-margin-rl text-large text-uppercase">Location</span>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <a class="pointer"
                                                                href="https://maps.app.goo.gl/SST6uijdr7ity9GV8"
                                                                target="_blank" style="cursor:pointer;">
                                                                <p>108 Chang Klan Road, Tambol Chang Klan, Amphur
                                                                    Muang, Chiang Mai, Thailand, 50100</p>
                                                            </a>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 pb-3">
                                                    <span
                                                        class="display-block font-family-alt font-weight-700 letter-spacing-1 margin-5 no-margin-bottom no-margin-rl text-large text-uppercase">Hotel
                                                        Info</span>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <ul>
                                                                <li> <img
                                                                        src="{% static 'assets/images/icons/dot.svg' %}"
                                                                        alt="ICPT2025" width="20px;" /> Check In:
                                                                    3:00 pm</li>
                                                                <li> <img
                                                                        src="{% static 'assets/images/icons/dot.svg' %}"
                                                                        alt="ICPT2025" width="20px;" /> Check Out:
                                                                    12:00 pm</li>
                                                                <li> <img
                                                                        src="{% static 'assets/images/icons/dot.svg' %}"
                                                                        alt="ICPT2025" width="20px;" /> Minimum Age
                                                                    to Check In: 18</li>
                                                                <li> <img
                                                                        src="{% static 'assets/images/icons/dot.svg' %}"
                                                                        alt="ICPT2025" width="20px;" /> Smoke Free
                                                                    Property</li>
                                                                <li> <img
                                                                        src="{% static 'assets/images/icons/dot.svg' %}"
                                                                        alt="ICPT2025" width="20px;" /> Pet Not
                                                                    Allowed (Regrettably pets are not allowed in the
                                                                    hotel)</li>
                                                                <li> <img
                                                                        src="{% static 'assets/images/icons/dot.svg' %}"
                                                                        alt="ICPT2025" width="20px;" /> Parking
                                                                    (Complimentary On-Site Parking)</li>
                                                                <li> <img
                                                                        src="{% static 'assets/images/icons/dot.svg' %}"
                                                                        alt="ICPT2025" width="20px;" /> Off-Site
                                                                    Parking (Night Bazaar parking Lot 0.1 KM)</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-md-6 pb-3">
                                                    <span class="display-block font-family-alt font-weight-700 letter-spacing-1 margin-5 no-margin-bottom no-margin-rl text-large text-uppercase"></span>
                                                </div> -->
                                                <div class="col-md-6 pb-3">
                                                    <br>
                                                    
                                                    <a href="https://www.marriott.com/en-us/hotels/cnxmc-chiang-mai-marriott-hotel/overview/"
                                                        class="page-scroll btn btn-base-color btn-medium display-block letter-spacing-2 text-small width-100"
                                                        target="_blank" style="background-color: #fff; color: #63151b; border-color: #63151b;">Book Now!</a>
                                                </div>
                                                <div class="col-md-6 pb-3">
                                                    <br>
                                                    
                                                    <a href="https://www.marriott.com/en-us/hotels/cnxmc-chiang-mai-marriott-hotel/overview/"
                                                        class="page-scroll btn btn-base-color btn-medium display-block letter-spacing-2 text-small width-100"
                                                        target="_blank">more Information</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <span class="display-block margin-2 no-margin-bottom no-margin-rl text-medium text-gray-dark-2">0.2 mile from venue</span> -->
                        </div>

                    </div>



                </div>
                <!-- //.border -->
            </div>
            <!-- //Features Box Style v3 End -->
        </div>


        <div class="row">
            <!-- Features Box Style v3 Start -->
            <div class="features-box col-sm-6 col-md-6">
                <div class="border border-gray-light border-round box-shadow-yes position-relative"
                    data-mh="mh-features-box-v3">
                    <div class="display-table height-100 no-padding-rl padding-7 width-100">
                        <div class="display-table-cell no-padding-tb padding-8 vertical-align-middle">
                            <a href="https://www.duangtawanhotelchiangmai.com/" target="_blank"
                                class="text-black"><span
                                    class="display-block font-family-alt font-weight-700 letter-spacing-1 text-large text-uppercase">Duangtawan
                                    Hotel Chiang Mai</span></a>
                            <span
                                class="bg-base-color display-inline-block margin-3 no-margin-bottom no-margin-rl separator-line-thick"></span>
                            <!-- <span class="display-block margin-2 no-margin-bottom no-margin-rl text-medium text-gray-dark-2">0.2 mile from venue</span> -->
                            <div class="card">
                                <div class="card-body">
                                    <img src="{% static 'assets/images/duangtawan.jpg' %}" width="100%"
                                        alt="ICPT2025" />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span
                                                class="display-block font-family-alt font-weight-700 letter-spacing-1 margin-5 no-margin-bottom no-margin-rl text-large text-uppercase">Location</span>
                                            <a class="pointer" href="https://maps.app.goo.gl/EsXE8ooYNK8NUMMD7"
                                                target="_blank" style="cursor:pointer;">
                                                <p>132 Loi Kroh Road, Tambon Chang Khlan,
                                                    Mueang Chiang Mai District, Chiang Mai 50100
                                                </p>
                                            </a>

                                            <br>
                                           <div class="row">
                                            <div class="col-md-6">
                                                <a href="https://www.marriott.com/en-us/hotels/cnxmc-chiang-mai-marriott-hotel/overview/"
                                                class="page-scroll btn btn-base-color btn-medium display-block letter-spacing-2 text-small width-100"
                                                target="_blank" style="background-color: #fff; color: #63151b; border-color: #63151b;">Book Now!</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="https://www.duangtawanhotelchiangmai.com/"
                                                class="page-scroll btn btn-base-color btn-medium display-block letter-spacing-2 text-small width-100">more
                                                Information</a>
                                            </div>
                                           </div>
                                        </div>
                                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <span
                        class="bg-base-color border-round display-block font-family-alt letter-spacing-1 margin-4 padding-tb-9px padding-rl-13px position-absolute position-top position-right text-extra-small text-uppercase text-white"><span
                            style="color: #fff; font-weight: 600;"> <i class="fa fa-star" aria-hidden="true"></i><i
                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
                        Hotel</span>
                </div>
                <!-- //.border -->


                <div class="features-box col-sm-6 col-md-6 xs-margin-3 xs-no-margin-bottom xs-no-margin-rl">
                    <div class="border border-gray-light border-round box-shadow-yes position-relative"
                        data-mh="mh-features-box-v3">
                        <div class="display-table height-100 no-padding-rl padding-7 width-100">
                            <div class="display-table-cell no-padding-tb padding-8 vertical-align-middle">
                                <a href="https://movenpick.accor.com/th/asia/thailand/chiang-mai/movenpick-suriwongse-hotel-chiang-mai.html"
                                    target="_blank" class="text-black"><span
                                        class="display-block font-family-alt font-weight-700 letter-spacing-1 text-large text-uppercase">Movenpick
                                        Suriwongse Chiang Mai</span></a>
                                <span
                                    class="bg-base-color display-inline-block margin-3 no-margin-bottom no-margin-rl separator-line-thick"></span>
                                <!-- <span class="display-block margin-2 no-margin-bottom no-margin-rl text-medium text-gray-dark-2">0.2 mile from venue</span> -->
                                <div class="card">
                                    <div class="card-body">


                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <img src="{% static 'assets/images/moverick.jpg' %}" width="70%"
                                                    alt="ICPT2025" />
                                            </div>
                                            <div class="col-md-12">
                                                <span
                                                    class="display-block font-family-alt font-weight-700 letter-spacing-1 margin-5 no-margin-bottom no-margin-rl text-large text-uppercase">Location</span>
                                                <a class="pointer" href="https://maps.app.goo.gl/aHRnDurc7et1q3Bu5"
                                                    target="_blank" style="cursor:pointer;">
                                                    <p>110 chang khlan Rd, Tambon Chang Khlan, Mueang Chiang Mai
                                                        District, Chiang Mai 50100

                                                    </p>
                                                </a>
                                                <br>
                                                

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a href="https://www.marriott.com/en-us/hotels/cnxmc-chiang-mai-marriott-hotel/overview/"
                                                            class="page-scroll btn btn-base-color btn-medium display-block letter-spacing-2 text-small width-100"
                                                            target="_blank" style="background-color: #fff; color: #63151b; border-color: #63151b;">Book Now!</a>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a href="https://movenpick.accor.com/th/asia/thailand/chiang-mai/movenpick-suriwongse-hotel-chiang-mai.html"
                                                    class="page-scroll btn btn-base-color btn-medium display-block letter-spacing-2 text-small width-100">more
                                                    Information</a>
                                                        </div>
                                                       </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <span
                            class="bg-base-color border-round display-block font-family-alt letter-spacing-1 margin-4 padding-tb-9px padding-rl-13px position-absolute position-top position-right text-extra-small text-uppercase text-white"><span
                                style="color: #fff; font-weight: 600;"> <i class="fa fa-star" aria-hidden="true"></i><i
                                    class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                    aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
                            Hotel</span>

                    </div>
                    <!-- //.border -->
                </div>
            </div>
            <!-- //Features Box Style v3 End -->

          
          
            

        </div>

    </div>

</section>
<!-- //Section - Hotels End -->




  <!-- Section - Register Start -->
  <section id="register" class="bg-cover bg-overlay-black-6">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="{% static 'assets/images/Logo/icptnewLogo.svg' %}" alt="ICPT2025" style="width: 20rem;"/>
                    <!-- <h2 class="display-block font-family-alt font-weight-700 letter-spacing-2 text-uppercase text-white xs-title-extra-large sm-title-extra-large-3 title-extra-large-5">
                        The Annual<br>
                        Conference!
                    </h2> -->

                    <p class="font-family-alt letter-spacing-1 margin-3 no-margin-bottom no-margin-rl text-gray-light-2 xs-text-large text-extra-large text-uppercase" style="font-weight: 600;">
                        14th International Conference on Road
                        <br>and Airfield Pavement Technology 2025
                        <br>16 - 18 July 2025
                        <br>Chiang Mai Merriott Hotel
                    </p>
                    <a href="#page-top" class="page-scroll btn btn-base-color sm-btn-medium btn-large margin-4-5 no-margin-bottom no-margin-rl" style="color: #eaaf51;">16 - 18 JULY 2025 CHIANG MAI MERRIOTT HOTEL</a>
                </div>
                <!-- //.col-md-8 -->
            </div>
            <!-- <div class="col-sm-6 col-md-7 xs-text-center">
                <span class="display-block font-family-alt letter-spacing-1 opacity-9 margin-7 no-margin-bottom no-margin-rl text-white text-medium text-uppercase">Register Now and Guarantee Your Seat!</span>
                <h2 class="display-block font-family-alt font-weight-700 letter-spacing-2 margin-5 no-margin-bottom no-margin-rl text-white xs-title-medium title-extra-large-3 text-uppercase">Do you have an account ?<br>Register<br>Right Now!</h2>
                <span class="bg-base-color display-inline-block margin-5-5 no-margin-rl separator-line-medium-thick-long"></span>
            </div> -->
            <!-- //.col-sm-6 -->
            
            <!-- <div class="col-sm-6 col-md-5">
                <div class="form-wrapper border-round padding-8">
                    <form action="contact/send_mail_ticket.php" method="post" id="form-register">
                        <input type="text" placeholder="Your Name" name="name" class="required">
                        <input type="text" placeholder="Your Email" name="email" class="required email">
                        <div class="select-wrapper">
                            <select id="ticket-type" name="ticket" class="required">
                                <option value="">Choose Your Ticket Type</option>
                                <option value="Student">Student</option>
                                <option value="Educator">Educator</option>
                                <option value="Professional">Professional</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                     
                        <textarea placeholder="Your Message" name="message" class="required"></textarea>
                        <button id="btn-form-register" type="submit" class="btn btn-base-color btn-medium">Book Now</button>
                    </form>
                </div>
          
            </div> -->
         
        </div>
      
    </div>

</section>
<!-- //Section - Register End -->

<!-- Site footer -->
<footer id="contact" class="site-footer">
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 text-center">
      <!-- <h6>ICPT2025</h6> -->
      <img src="{% static 'assets/images/Logo/footerimage.svg' %}" alt="ICPT2025" style="width: 55rem;"/>
      
      <!-- <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p> -->
    </div>
    <div class="col-md-1" style="margin-left: 5rem;">
        <div class="vl"></div>
    </div>
   

    <div class="col-xs-12 col-md-6">
        <h6>Chiang Mai University</h6>
        <h6>Advanced Railway Civil and Foundation Engineering Center</h6>
      <ul class="footer-links">
       
        <li>Email: icpt-2025@cmu.ac.th</li>
        <!-- <li>Phone: +029 999 9999</li> -->
        <li>Give us a call or drop by anytime,
            we endeavour to answer all enquiries
            within 24 hours on business days.</li>
            <!-- <li>We are open from 8.30 AM - 4.00 PM week days.</li> -->
            <li>Organized by Chiangmai University.</li>
      </ul>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-strt">
            <ul class="social-icons">
              <li><a class="cmu" href="https://www.cmu.ac.th/"><img src="{% static 'assets/images/Logo/Chiang_Mai_University.svg.png' %}" alt="ICPT2025"/></a></li>
              <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>    -->
            </ul>
          </div>
      </div>
      
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <p class="copyright-text">Copyright &copy; All Rights Reserved by 
        2025 ICPT Conference.
      </p>
    </div>

 
  </div>
</div>
</footer>
    
    
    <!-- Scroll to top -->
    <a href="#page-top" class="page-scroll scroll-to-top"><i class="fa fa-angle-up"></i></a>
    
    
    
    <!-- Scroll to top -->
    <a href="#page-top" class="page-scroll scroll-to-top"><i class="fa fa-angle-up"></i></a>
    
    
    <!-- Loading jQuery -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    
    <!-- Loading Bootstrap JS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    
    <!-- Include all js plugins (below) -->
    <script src="{% static 'assets/js/pace.min.js' %}"></script>
    <script src="{% static 'assets/js/debouncer.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.inview.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.matchHeight.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/flickity.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countTo.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    
    <!-- BG Parallax JS -->
    <script src="{% static 'assets/js/lib/greensock/TweenMax.min.js' %}"></script>
    <script src="{% static 'assets/js/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'assets/js/animation.gsap.min.js' %}"></script>
    
    <!-- Loading Theme JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    
</body>
</html>