{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ICPT2025 - 14TH INTERNATIONAL CONFERENCE ON ROAD AND AIRFIELD PAVEMENT TECHNOLOGY 2025</title>
    <meta name="description" content="ICPT2025 - 14TH INTERNATIONAL CONFERENCE ON ROAD AND AIRFIELD PAVEMENT TECHNOLOGY 2025"/>
    <meta name="keywords" content="ICPT2025 - 14TH INTERNATIONAL CONFERENCE ON ROAD AND AIRFIELD PAVEMENT TECHNOLOGY 2025"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
    rel="icon"
   
    href="{% static 'assetslib/img/kaiadmin/favicon.ico'% }"
    type="image/x-icon"
  />

  <!-- Fonts and icons -->
  <script src="{% static 'assetslib/js/plugin/webfont/webfont.min.js'%}"></script>
  <script>
    WebFont.load({
      google: { families: ["Public Sans:300,400,500,600,700"] },
      custom: {
        families: [
          "Font Awesome 5 Solid",
          "Font Awesome 5 Regular",
          "Font Awesome 5 Brands",
          "simple-line-icons",
        ],
        urls: ["{% static 'assetslib/css/fonts.min.css'%}"],
      },
      active: function () {
        sessionStorage.fonts = true;
      },
    });
  </script>

<script src="{% static 'js/registercompo.js' %}"></script>
<script src="{% static 'js/alert.js' %}"></script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'assetslib/css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'assetslib/css/plugins.min.css'%}" />
    <link rel="stylesheet" href="{% static 'assetslib/css/kaiadmin.min.css'%}" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="{% static 'assetslib/css/demo.css'%}" />

    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css'%}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
    <!--===============================================================================================-->

    </head>
<body id="page-top">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    
    {% block content %}


    {% endblock content%}

<!-- Site footer -->

  <!--===============================================================================================-->	
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'vendor/select2/select2.min.js'%}"></script>
    <!--===============================================================================================-->

    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/alert.js' %}"></script>
  
    
</body>
</html>