{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ICPT2025 - 14TH INTERNATIONAL CONFERENCE ON ROAD AND AIRFIELD PAVEMENT TECHNOLOGY 2025</title>
    <meta name="description" content="ICPT2025 - 14TH INTERNATIONAL CONFERENCE ON ROAD AND AIRFIELD PAVEMENT TECHNOLOGY 2025"/>
    <meta name="keywords" content="ICPT2025 - 14TH INTERNATIONAL CONFERENCE ON ROAD AND AIRFIELD PAVEMENT TECHNOLOGY 2025"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Loading Bootstrap CSS -->
    <!-- <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> -->

    <link rel="stylesheet" href="../assets/modern/css/styles.min.css" />
        
    <!-- Loading Font Icons -->
    <!-- <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> -->
    
    <!-- Include all css plugins (below), or include individual files as needed -->
    <!-- <link href="{% static 'assets/css/flickity.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" type="text/css"> -->
    
    <!-- Main CSS -->
    <!-- <link href="{% static 'assets/css/dione_main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/dione_style.css' %}" rel="stylesheet" type="text/css"> -->
    
    <!-- Color Skins CSS -->
    <!-- <link href="{% static 'assets/css/dione_color_icpt.css' %}" rel="stylesheet" type="text/css"> -->

     <!-- Color Skins CSS -->
     <!-- <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css"> -->

    
    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 8]>

    <![endif]-->
    </head>
<body id="page-top">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    

    
    
    {% block content %}


    {% endblock content%}

<!-- Site footer -->


<script src="{% static 'modern/assets/libs/jquery/dist/jquery.min.js'}"></script>
<script src="{% static 'modern/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js'}"></script>
<script src="{% static 'modern/assets/js/sidebarmenu.js'}"></script>
<script src="{% static 'modern/assets/js/app.min.js'}"></script>
<script src="{% static 'modern/assets/libs/apexcharts/dist/apexcharts.min.js'}"></script>
<script src="{% static 'modern/assets/libs/simplebar/dist/simplebar.js'}"></script>
<script src="{% static 'modern/assets/js/dashboard.js'}"></script>

    <!-- Loading jQuery -->
    <!-- <script src="{% static 'assets/js/jquery.min.js' %}"></script> -->
    
    <!-- Loading Bootstrap JS -->
    <!-- <script src="{% static 'assets/js/bootstrap.min.js' %}"></script> -->
    
    <!-- Include all js plugins (below) -->
    <!-- <script src="{% static 'assets/js/pace.min.js' %}"></script>
    <script src="{% static 'assets/js/debouncer.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.inview.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.matchHeight.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/flickity.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countTo.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script> -->
    
    <!-- BG Parallax JS -->
    <!-- <script src="{% static 'assets/js/lib/greensock/TweenMax.min.js' %}"></script>
    <script src="{% static 'assets/js/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'assets/js/animation.gsap.min.js' %}"></script> -->
    
    <!-- Loading Theme JS -->
    <!-- <script src="{% static 'assets/js/main.js' %}"></script> -->

    <!-- <script src="{% static 'js/login.js' %}"></script> -->
    
</body>
</html>